<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.podm.service.mapper.ChassisMapper">
  <resultMap id="BaseResultMap" type="com.inspur.podm.common.persistence.entity.Chassis">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="event_source_context" property="eventSourceContext" javaType="java.net.URI" 
    typeHandler="com.inspur.podm.common.persistence.handler.URITypeHandler" />
  </resultMap>
  <select id="getChassissById" resultMap="BaseResultMap">
  select * from chassis where chassis.id=#{id}
  </select>
</mapper>